

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 40px;
    font-family: sans-serif;
}


.body{
    background-color: #333;
    font-family: sans-serif;
    color: aliceblue;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(175,231,249,1) 100%);

}



.menu {
    background-color: rgb(215, 222, 219);
    border: 5 px solid black;
    padding-left: 25px auto;
    padding-right: 25px;
    padding-top: 25px auto;
    border-color: blue;
    display: inline;
}


.portada {
    font-weight: lighter;
}



.cuerpo .h1 {
        font-size: medium;
        font-weight: bold;
        color: aqua;
        overflow: auto;


        }   



.footer{
    padding: 0px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* quiero darle estilo a mi nav sin usar las clases de bootstrap */
/* para eso aumento la especificidad creando una nueva clase */

.navbar.navbar-expand-lg.bg-light.pegada {
    position: sticky;
    position: fixed;
    width: 100%;

}

